force-app/main/default/flows/Case_Get_Contact_and_Account_by_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Grounding Prompt Flow — KAN-12. Queries the first Contact matching the supplied email, including Account context. Returns a text string for grounding the Intelligent Case Prioritization flex prompt. Reused across multiple agents.</description>
    <label>Case Get Contact and Account by Email</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <status>Active</status>

    <!-- ── Variables ──────────────────────────────────────────────────────── -->
    <variables>
        <name>inputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactAccountJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No contact found.</stringValue>
        </value>
    </variables>
    <variables>
        <name>firstContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>

    <!-- ── Formulas ───────────────────────────────────────────────────────── -->
    <formulas>
        <name>ContactGroundingText</name>
        <dataType>String</dataType>
        <expression>"Contact: " &amp; {!firstContact.FirstName} &amp; " " &amp; {!firstContact.LastName} &amp; " | Email: " &amp; {!firstContact.Email} &amp; " | Title: " &amp; {!firstContact.Title} &amp; " | Account Id: " &amp; {!firstContact.AccountId}</expression>
    </formulas>

    <!-- ── Decisions ──────────────────────────────────────────────────────── -->
    <decisions>
        <name>Check_Email_Not_Blank</name>
        <label>Email Provided?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCase.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_By_Email</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Found</name>
        <label>Contact Found?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Output</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>

    <!-- ── Record Lookups ─────────────────────────────────────────────────── -->
    <recordLookups>
        <name>Get_Contact_By_Email</name>
        <label>Get Contact by Email</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCase.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <outputReference>firstContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>

    <!-- ── Assignments ────────────────────────────────────────────────────── -->
    <assignments>
        <name>Assign_Contact_Output</name>
        <label>Assign Contact Output</label>
        <locationX>0</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>contactAccountJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactGroundingText</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- ── Start ──────────────────────────────────────────────────────────── -->
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Email_Not_Blank</targetReference>
        </connector>
    </start>

</Flow>
