force-app/main/default/flows/Case_Get_related_Tasks_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Grounding Prompt Flow — KAN-12. Fetches the most recent Task related to a Case by Id. Returns a text string for grounding the Intelligent Case Prioritization flex prompt. Reused across multiple agents.</description>
    <label>Case Get Related Tasks Events</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <status>Active</status>

    <!-- ── Variables ──────────────────────────────────────────────────────── -->
    <variables>
        <name>inputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>tasksEventsJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No related activity found.</stringValue>
        </value>
    </variables>
    <variables>
        <name>latestTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>

    <!-- ── Formulas ───────────────────────────────────────────────────────── -->
    <formulas>
        <name>TaskGroundingText</name>
        <dataType>String</dataType>
        <expression>"Latest Task — Subject: " &amp; {!latestTask.Subject} &amp; " | Description: " &amp; {!latestTask.Description}</expression>
    </formulas>

    <!-- ── Decisions ──────────────────────────────────────────────────────── -->
    <decisions>
        <name>Check_Task_Found</name>
        <label>Task Found?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Output</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>

    <!-- ── Record Lookups ─────────────────────────────────────────────────── -->
    <recordLookups>
        <name>Get_Latest_Task</name>
        <label>Get Latest Task</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Task_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <outputReference>latestTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Description</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>

    <!-- ── Assignments ────────────────────────────────────────────────────── -->
    <assignments>
        <name>Assign_Task_Output</name>
        <label>Assign Task Output</label>
        <locationX>0</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>tasksEventsJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskGroundingText</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- ── Start ──────────────────────────────────────────────────────────── -->
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Task</targetReference>
        </connector>
    </start>

</Flow>
