force-app/main/default/flows/Intelligent_Case_Prioritization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Intelligent Case Prioritization — KAN-12 (immediate path) + Auto Assign Account and Contact — KAN-13 (scheduled path +1 min). Fires on Case Create. Immediate path assigns Priority, Reason, and Type. Scheduled path (+1 min) auto-assigns ContactId and AccountId via LLM match, then re-fetches Case for downstream agents.</description>
    <label>Intelligent Case Prioritization</label>
    <interviewLabel>Intelligent Case Prioritization {!$Flow.CurrentDateTime}</interviewLabel>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <status>Active</status>
    <environments>Default</environments>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>

    <!-- ── Variables ─────────────────────────────────────────────────────── -->
    <variables>
        <n>PromptResponseText</n>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <n>ContactAccountMatchJson</n>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <n>UpdatedCase</n>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>

    <!-- ═══════════════════════════════════════════════════════════════════════
         IMMEDIATE PATH — KAN-12: Intelligent Case Prioritization
    ═══════════════════════════════════════════════════════════════════════════ -->

    <!-- Step 2: Invoke Flex Prompt Template -->
    <actionCalls>
        <n>Generate_Case_Priority</n>
        <label>Generate Case Priority</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Intelligent_Case_Prioritization</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Agent_Triage_JSON</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Triage_Failed_Task</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <n>Input:Case</n>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PromptResponseText</assignToReference>
            <n>promptResponse</n>
        </outputParameters>
        <nameSegment>Intelligent_Case_Prioritization</nameSegment>
        <offset>0</offset>
    </actionCalls>

    <!-- Step 3: Call Apex — CaseAgentTriageJsonParser -->
    <actionCalls>
        <n>Parse_Agent_Triage_JSON</n>
        <label>Parse Agent Triage JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CaseAgentTriageJsonParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Parse_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Triage_Failed_Task</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <n>json</n>
            <value>
                <elementReference>PromptResponseText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseAgentTriageJsonParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <!-- ═══════════════════════════════════════════════════════════════════════
         SCHEDULED PATH — KAN-13: Auto Assign Account and Contact (+1 min)
    ═══════════════════════════════════════════════════════════════════════════ -->

    <!-- Step 1: Invoke Prompt Template to find best Contact + Account match -->
    <actionCalls>
        <n>Generate_Contact_Account_Match</n>
        <label>Generate Contact Account Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Get_Matching_Contact_and_Account</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Contact_Account_JSON</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Auto_Assign_Failed_Task</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <n>Input:Case</n>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ContactAccountMatchJson</assignToReference>
            <n>promptResponse</n>
        </outputParameters>
        <nameSegment>Case_Get_Matching_Contact_and_Account</nameSegment>
        <offset>0</offset>
    </actionCalls>

    <!-- Step 2: Parse JSON — reuse CaseAgentTriageJsonParser -->
    <actionCalls>
        <n>Parse_Contact_Account_JSON</n>
        <label>Parse Contact Account JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CaseAgentTriageJsonParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Auto_Assign_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Auto_Assign_Failed_Task</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <n>json</n>
            <value>
                <elementReference>ContactAccountMatchJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseAgentTriageJsonParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <!-- ── Decisions ──────────────────────────────────────────────────────── -->

    <!-- Immediate path: Step 1 guard — Description not null -->
    <decisions>
        <n>Check_Case_Description</n>
        <label>Check Case Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Description</defaultConnectorLabel>
        <rules>
            <n>Description_Exists</n>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Case_Priority</targetReference>
            </connector>
            <label>Description Exists</label>
        </rules>
    </decisions>

    <!-- Immediate path: Step 4 — isSuccess = true? -->
    <decisions>
        <n>Check_Parse_Success</n>
        <label>Check If Parsing is Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Create_Triage_Failed_Task</targetReference>
        </defaultConnector>
        <rules>
            <n>Is_Success</n>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_Agent_Triage_JSON.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Priority</targetReference>
            </connector>
            <label>Is Success</label>
        </rules>
    </decisions>

    <!-- Scheduled path: Step 3 — isSuccess = true? -->
    <decisions>
        <n>Check_Auto_Assign_Success</n>
        <label>Check If Auto Assign Succeeded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Failure or No Match</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Create_Auto_Assign_Failed_Task</targetReference>
        </defaultConnector>
        <rules>
            <n>Auto_Assign_Success</n>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_Contact_Account_JSON.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_and_Account</targetReference>
            </connector>
            <label>Auto Assign Success</label>
        </rules>
    </decisions>

    <!-- ── Record Creates ─────────────────────────────────────────────────── -->

    <!-- Immediate path fault Task -->
    <recordCreates>
        <n>Create_Triage_Failed_Task</n>
        <label>Create AI Triage Failed Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>AI Triage Failed — Manual Review Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- Scheduled path fault Task -->
    <recordCreates>
        <n>Create_Auto_Assign_Failed_Task</n>
        <label>Create AI Auto-Assign Failed Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>AI Auto-Assign Failed — Manual Review Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- ── Record Updates ─────────────────────────────────────────────────── -->

    <!-- Immediate path: Step 5 — Update Case Priority, Reason, Type -->
    <recordUpdates>
        <n>Update_Case_Priority</n>
        <label>Update Case Priority, Reason and Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Parse_Agent_Triage_JSON.priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>Parse_Agent_Triage_JSON.reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Parse_Agent_Triage_JSON.caseType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- Scheduled path: Step 4 — Assign ContactId and AccountId -->
    <recordUpdates>
        <n>Assign_Contact_and_Account</n>
        <label>Assign Contact and Account to Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Parse_Contact_Account_JSON.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Parse_Contact_Account_JSON.accountId</elementReference>
            </value>
        </inputAssignments>
        <connector>
            <targetReference>Get_Updated_Case_After_Assign</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <!-- ── Record Lookups ─────────────────────────────────────────────────── -->

    <!-- Scheduled path: Step 5 — Re-fetch updated Case for downstream agents -->
    <recordLookups>
        <n>Get_Updated_Case_After_Assign</n>
        <label>Get Updated Case After Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <outputReference>UpdatedCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Origin</queriedFields>
    </recordLookups>

    <!-- ── Start ──────────────────────────────────────────────────────────── -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <!-- KAN-13: Auto Assign Account and Contact — fires 1 min after Case creation -->
            <n>Send_Acknowledge_Email_to_Customer</n>
            <label>Auto Assign Account and Contact (KAN-13)</label>
            <connector>
                <targetReference>Generate_Contact_Account_Match</targetReference>
            </connector>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>

</Flow>
